#wrapper, #HOME{
    display: none;
    position: relative;
}
#wrapper{




}
.dropdown{
  background-color: #222;
  border-color: #080808;
  &>li>a{
    color: #999;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
}
.carousel-inner{
  max-height: 400px !important;
}

body,html,.row-offcanvas {
  height:100%;
}
#TestButtons {

    width: 90%;
    

}
/*.thumbnail{
margin:7px;
}*//*
.thumbnail >img{
    width: 210px;
    height: 240px;
    overflow: auto;
    float:left; 
    margin-right: 10px;
}
*/
#NavInfoDesktop {
    
    width: 250px;

    padding: 1px;
    list-style: none;
    
    
}

#A2ABD{

   

}
/*
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}

.thumbnail.right-caption {
    float: left;
    padding-top:1px;
    display: inline;
}
px
.thumbnail.right-caption > .caption {
    padding: 4px;
}*/

#content{  

    padding-left: 10px;
        }

 #map-canvas {
        height: 300px;
        
        margin: 1px;
        padding: 1px
      }


.carousel-inner>.item>img {
  line-height: 1;
  height: 300px;
}

#myCarousel{

margin-bottom: 10px;

}
.panel-body {

text-align: center;
    
}
.OIsmart  {
    
    padding-top:10px;
    
    
}
.OIsmart p {
    
    display: inline;
    
    
}
.OIarrow {
    color: black;
}

.contentImg {
  display: inline-block;
}
.contentDesc {
  display: inline-block;
}
.HPel.noFirst {
  display: inline-block;
  width: 49%;
}
.noFirst > .contentImg img {
  width: 80px;
  height: 80px;
}
.onRight {
  position: absolute;
  right: 5px;
}
.onlyEL {
  height: 100%;
  width: 100%;
}
img.awardThumb{

    padding: 0;
}
/*.right-caption{
 width:90%;   
}*/
.thumbnail.right-caption{
    display:inline-block;
    width:100%;
}
@media(min-width:1400px){
    .picAndDesc{
        
    }
}
.picAndDesc{

position: relative;
}
img.thumbnail {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.goToLeft{
position: relative;
left: 100px;
}
.goToRight{
position: relative;
left: -100px;
}
/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;

  }
#site-wrapper{
margin-bottom: 0px;
margin-left: 5%;
margin-right: 5%;
background-color:rgb(208, 208, 208);
height: ;
border-left-style: solid;
border-right-style: solid;
      -moz-box-shadow:  0px 40px 40px rgba(0,0,0,.5);
  -webkit-box-shadow:  0px 40px 40px rgba(0,0,0,.5);
  box-shadow: 0px 40px 40px rgba(0,0,0,.5);
   
            }
    body{
    background-image:url(http://svite-league-apps-content.s3.amazonaws.com/bgimages/big-red.jpg);
    background-attachment:fixed;
    }





}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}
.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    
}
.picAndDesc>a>img{
    width:100%;
}
@media (max-width: 768px){ 
    .flex {
        flex-wrap: wrap;
    }
}
#tweettie>ul {
  -webkit-padding-start: 0;
}

#grassFooter{
height: 170px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-image: url(http://biggym2015.altervista.org/server/images/Grass-Footer-Cropped.png);
  opacity: 1;
  z-index: 10000;
}

.row>.thumbnail{
  border-style: solid;
  border-color: black;


}
@media (min-width: 768px){
.container {
  width: 100%;
}
}
@media (min-width: 992px){
.container {
  width: 100%;
}
}
